
  <ion-header [translucent]="true">

    <ion-toolbar>

      <ion-title>

        Sobre

      </ion-title>

    </ion-toolbar>

  </ion-header>

  <ion-content [fullscreen]="true">

    <img src="assets/Xuxa_1993.jpg" alt="">

    <ion-card>

      <ion-card-header>

        <ion-card-title>Desenvolvido por</ion-card-title>

      </ion-card-header>



      <ion-item href="#" class="ion-activated">

        <ion-icon name="person-circle" slot="start"></ion-icon>

        <ion-label>xuxa</ion-label>

      </ion-item>

      <ion-item href="#" class="ion-activated">

        <ion-icon name="mail" slot="start"></ion-icon>

        <ion-label>xuxa@tibico.com</ion-label>

      </ion-item>




      <ion-item href="#" class="ion-activated">

        <ion-icon name="earth" slot="start"></ion-icon>

        <ion-label>www.xuxuxaxa.com.br</ion-label>

      </ion-item>



      <ion-item href="#" class="ion-activated">

        <ion-icon name="logo-instagram" slot="start"></ion-icon>

        <ion-label>@xuxapãos</ion-label>

      </ion-item>

      <ion-item href="#" class="ion-activated">

        <ion-icon name="checkmark-circle" slot="start"></ion-icon>

        <ion-label>0.0.1</ion-label>

      </ion-item>




    </ion-card>



  </ion-content>
